<html>
    <head></head>
    <body>
        <table id="tdatatable"></table>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/js/DataTables/datatables.min.js"></script>
        <script>
            $('#tdatatable').DataTables()
        </script>
    </body>
</html>