<html>
    <head>
        <title>Main blass</title>
    </head>
    <body>
        <div id="main"><%- session_id %></div>
        <a href="/getsubscriptions/<%- session_id %>">Subscription</a>
        <br>
        <a href="/getlocations/<%- session_id %>">Location</a>
    </body>
</html>