<html>
    <head>
        <link rel="stylesheet" href="/js/DataTables/datatables.min.css">
    </head>
    <body>
        <table id="xls">
        </table>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/js/DataTables/datatables.min.js"></script>
        <script>
            $('#xls').DataTables({
                ajax:{
                    url:'/getkelurahan'
                }
            })
        </script>
    </body>    
</html>